<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="app">
            <p>{{titulo}}</p>
        </div>
    </body>
    <script>
        new Vue({
            el: '#app',
            data: {
                titulo: 'Usando VueJS 2'
            }
        })
    </script>
</html>
