<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="app">
            <input type="text" v-on:input="alterarTitulo">
            <p>{{titulo}}</p>
        </div>
    </body>
    <script>
        new Vue({
            el: '#app',
            data: {
                titulo: 'Usando VueJS 2'
            },
            methods: {
                alterarTitulo(event){
                    this.titulo = event.target.value
                }
            },
        })
    </script>
</html>
