<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
       
    </head>
    <body>
        <div id="app">
            
            <p>{{contador}}</p>
            <button v-on:click="somar">Somar 1</button>
            <p v-on:mousemove="atualizarXY">Mouse: {{x}} e  {{y}}</p>
        </div>
    </body>
    <script>
        //v-on diretiva para eventos de onclick, onmouseout e afins
        new Vue({
            el: '#app',
            data: {
                contador: 0,
                x: 0,
                y: 0
            },
            methods: {
                somar(){
                    this.contador++
                },
                atualizarXY(e){
                    this.x = event.clientX
                    this.y = event.clientY
                }
            },
        })
    </script>
</html>
