<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="app">
            
            <p>{{contador}}</p>
            <button v-on:click="somar">Somar 1</button>
        </div>
    </body>
    <script>
        //v-on diretiva para eventos de onclick, onmouseout e afins
        new Vue({
            el: '#app',
            data: {
                contador: 0
            },
            methods: {
                somar(e){
                    console.log(e)
                    this.contador++
                }
            },
        })
    </script>
</html>
