<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
       
    </head>
    <body>
        <div id="app">
            
            <p>{{contador}}</p>
            <button v-on:click="somar(5, $event)">Somar</button>
            <p v-on:mousemove="atualizarXY">Mouse: {{x}} e  {{y}}</p>
        </div>
    </body>
    <script>
        //$event passa evento que foi gerado por parametro
        //o simbolo $ ja podem ser chaves reservadas como o $event
        new Vue({
            el: '#app',
            data: {
                contador: 0,
                x: 0,
                y: 0
            },
            methods: {
                somar(passo, e){
                    console.log(e)
                    this.contador += passo
                },
                atualizarXY(e){
                    this.x = event.clientX
                    this.y = event.clientY
                }
            },
        })
    </script>
</html>
