<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="app">

            <a v-bind:href="link">Google</a>
            <p>{{titulo}}</p>
            <p>{{saudacao()}}</p>
        </div>
    </body>
    <script>
        //Props das tags html utiliza-se as diretivas
        //ex.: v-bind:href="link" também pode-se criar propriedades
        //Apenas impressao de textos html utilize {{}}


        new Vue({
            el: '#app',
            data: {
                titulo: 'Usando VueJS 2',
                link: 'http://www.google.com'
            },
            methods: {
                saudacao(){
                    
                    return 1.2
                }
            },
        })
    </script>
</html>
