<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="app">
            <p v-once>{{titulo}}</p>
            <p v-html="linkHtml"></p>
        </div>
    </body>
    <script>
        //nao renderizar html previne ataque xss
        //Para isso utilize a diretiva v-html
        new Vue({
            el: '#app',
            data: {
                titulo: 'Usando VueJS 2',
                link: 'http://www.google.com',
                linkHtml: '<a href="http://www.google.com">Google</a>'
            },
            methods: {
                saudacao(){
                    this.titulo = 'Bom dia'
                    return this.titulo
                }
            },
        })
    </script>
</html>
