<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="app">

            <a v-bind:href="link">Google</a>
            <p v-once>{{titulo}}</p>
            <p>{{saudacao()}}</p>
        </div>
    </body>
    <script>
        //v-once: Não irá mais atualizar o conteudo da tag marcada
        new Vue({
            el: '#app',
            data: {
                titulo: 'Usando VueJS 2',
                link: 'http://www.google.com'
            },
            methods: {
                saudacao(){
                    this.titulo = 'Bom dia'
                    return this.titulo
                }
            },
        })
    </script>
</html>
