<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        
    </head>
    <body>
        <div id="desafio">
            <p>Usando VueJS - {{nome}} ({{idade}})</p>
            <p>{{multiplicaIdade(3)}}</p>
            <p>{{random()}}</p>
            <div>
                <img height="400" v-bind:src="imageUrl" />
            </div>
            <input type="text" v-bind:value="nome" />
        </div>
    </body>
</html>
<script src="app.js"></script>
